*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/app/build/
/core/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.cxx/
*.hprof
*.log
keystore.properties
*.jks
*.keystore
app/libs/*.aar
app/libs/*.jar
.kotlin/
.cache/
